<ion-header>
  <ion-toolbar>
    <ion-title>Mi Perfil</ion-title>
    <img slot="end" routerLink="/home" src="assets/img/Home.png" alt="" width="10%" height="10%" class="ion-margin">
  </ion-toolbar>
</ion-header>


<ion-content class="contenido">
  <ion-card class="card">


    <div class="opciones">

      <div class="informacion">
        <img src="assets/img/informacion.png" alt="" routerLink="/infopersonal">
        <p class="blanco"><b>Mi Informacion</b></p>
      </div>
      <div class="publicaciones">
        <img src="assets/img/publicaciones.png" alt="" routerLink="/mispublic">
        <p class="blanco"><b>Mis Publicaciones</b></p>
      </div>

    </div>
  </ion-card>
  




</ion-content>
