.contenido{
    text-align: center;
}

.perfiles{
    height: auto;
    margin-top: 10%;
    border-radius: 15px;
    background-color: #002037   ;
}

.card{
    background-color: white;
    margin: 10%;
}

.img{
    float: left;
    width: 25%;
    margin: 5%;
    
}
.info{
    float: left;
    width: 60%;
    margin-right: 5%;
}

.titulo{
    text-align: center;
    color: white;
    margin: 2%;
}
.borrar{
    width: 30%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.actualizar img{
    width: 10%;
    filter: drop-shadow(5px 5px 5px hsl(0deg 0% 0% / 0.5));
    cursor: pointer;
    margin-top: 5%;
}

.tabla{
    display:none;
}