<ion-header>
  <ion-toolbar>
  
    <ion-title slot="end">E.S.D.A</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contenido">

  <div class="header">
    <h1>Login</h1>
    <div class="icono">
      <img src="assets/img/recuperar.png" alt="">
    </div>
  </div>

  <ion-card>
    
      <ion-input class="ion-text-center" placeholder="Rut"></ion-input>
      <ion-input class="ion-text-center" placeholder="Email"></ion-input>
      <ion-input class="ion-text-center" placeholder="Nuevas Password"></ion-input>
  
  </ion-card>

  <br><br><br>

  <div class="boton">
    <ion-button (click)="presentAlert()" routerLink="/login" color="primary" expand="medium">Recuperar</ion-button>
  </div>
  <div class="boton" >
    <ion-button class="boton-cancelar" color="warning" routerLink="Login" >Cancelar</ion-button>
  </div>

</ion-content>