<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-end">E.S.D.A</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card >
    <ion-card-header>
      <ion-card-title class="ion-text-center" >Login</ion-card-title>
      <div class="icono">
        <ion-icon size="large" name="person-outline"></ion-icon>
      </div>
      
    </ion-card-header>
  
    <ion-card-content >
      <ion-item>
        <ion-label position="floating" class="ion-text-center">Rut</ion-label>
        <ion-input class="ion-text-center"></ion-input>
      </ion-item>
      <ion-item >
        <ion-label position="floating" class="ion-text-center">Password</ion-label>
        <ion-input class="ion-text-center"></ion-input>
      </ion-item>

      <br><br><br><br>
      <div class="boton">
        <ion-button  color="secondary" routerLink="/recuperar">Recuperar</ion-button>
        <ion-button   color="success" routerLink="/home">Ingresar</ion-button>
      </div>
      

    </ion-card-content>
  </ion-card>
    <div class="boton">
      <ion-button class="boton-registrar" color="warning" expand="block" routerLink="/registrar">Registrar</ion-button>
    </div>
    
</ion-content>
