<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" slot="end">
      <!--mientras tanto este boton es para ingresar al administrador, luego sera automatico a traves de las credenciales.-->
      <img src="assets/img/adm.png" alt="" width="40%" height="40%" class="ion-margin" routerLink="/administrador">
    </ion-title>
    <ion-title class="ion-text-center" slot="start">
      E.S.D.A
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="contenido">
  <div class="header">
    <h1>Login</h1>
    <div class="icono">
      <img src="assets/img/LOGIN-DEF.png" alt="">
    </div>
  </div>
  <ion-card class="card">

    <ion-item class="input">
      <ion-label position="floating" >Rut</ion-label>
      <ion-input placeholder="12345678"></ion-input>
    </ion-item>
    <ion-item class="input">
      <ion-label  position="floating"  >Password</ion-label>
      <ion-input type="password" ></ion-input>
      <ion-icon class="icon" name="eye" color="gray" slot="end" ></ion-icon> 
    </ion-item>

    <div >

      <div class="boton">
        <ion-button  color="primary" size="Large" routerLink="/home" ><b>Ingresar</b></ion-button>
      </div>
      <div class="boton-registrar">
        <ion-button color="secondary" size="Large" routerLink="/recuperar"><b>Recuperar</b></ion-button>
        <ion-button class="b_registrar" color="warning" size="Large" routerLink="/registrar"><b>Registrar</b></ion-button>
      </div>

    </div>
  </ion-card>
  




</ion-content>