.header{
 margin-top: 5%;
}

.boton-registrar{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15%;
}

.icono{
    width: 25%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    
    
}

.boton{
    text-align: center;
    
}