<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-end">E.S.D.A</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contenido">
  <div class="header">
    <h1>Login</h1>
    <div class="icono">
      <img src="assets/img/LOGIN-DEF.png" alt="">
    </div>
  </div>
  <ion-card class="card">

    <ion-input clearInput class="ion-text-center" placeholder="Rut"></ion-input>
    <ion-input clearInput class="ion-text-center" placeholder="Password" type="password"></ion-input>

    <div class="boton">
      <div>
        <ion-button color="secondary" size="small" routerLink="/recuperar">Recuperar</ion-button>
      </div>
      <div>
        <ion-button color="primary" size="small" routerLink="/home">Ingresar</ion-button>
      </div>

    </div>
  </ion-card>
  <div class="boton-registrar">
    <ion-button class="b_registrar" color="warning" size="Large" routerLink="/registrar">Registrar</ion-button>
  </div>




</ion-content>