.filtros{
    margin: 5%;
}

.card{
    background-color: beige;
}

.img{
    float: left;
    width: 25%;
    margin-right: 5%;
    margin-top: 5%;
    margin-left: 5%;
}
.info{
    float: left;
    width: 60%;
    margin-right: 5%;
}
