<ion-header>
  <ion-toolbar>
    <ion-title>Comunidad</ion-title>
    <img  slot = "end" src="assets/img/LOGIN-DEF.png" alt="" width="20%" height="20%" class="ion-margin">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="filtros">
    <ion-item>
      <ion-label>Carrera</ion-label>
      <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One">
        <ion-select-option >Analista Programador</ion-select-option>
        <ion-select-option >Tecnico en Logistica</ion-select-option>
        <ion-select-option >Enfermeria</ion-select-option>
        <ion-select-option >Tecnico en Construccion</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Asignatura</ion-label>
      <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One">
        <ion-select-option >Habilidades de comunicacion</ion-select-option>
        <ion-select-option >Matematicas</ion-select-option>
        <ion-select-option >Ingles 1</ion-select-option>
        <ion-select-option >Ingles 2</ion-select-option>
      </ion-select>
    </ion-item>

  </div>

  <ion-card class="card">
    <img src="assets/img/LOGIN-DEF.png" width="20%" height="20%" alt="">
    <p >carrea</p>
  </ion-card>

  

  
  
</ion-content>
