.filtros{
    margin: 5%;
}

.card{
    background-color: black;
}

.img{
    float: left;
    width: 25%;
    margin-right: 5%;
    margin-top: 5%;
    margin-left: 5%;
}
.info{
    float: left;
    width: 60%;
    margin-right: 5%;
    background-color: black;
    color: aliceblue;
}

.boton{
    text-align: center;
}

.boton img{
    width: 10%;
    filter: drop-shadow(5px 5px 5px hsl(0deg 0% 0% / 0.5));
    cursor: pointer;
}


