<ion-header>
  <ion-toolbar>
    <ion-title>Comunidad</ion-title>
    <img slot="end" routerLink="/home" src="assets/img/Home.png" alt="" width="20%" height="20%" class="ion-margin">
  </ion-toolbar>
</ion-header>

<ion-content >
  
  
  <ion-button expand="block" (click)="comunidad()" >Actualizar publicaciones</ion-button>

  
  <ion-card class="card" *ngFor="let p of pub ">
    <div class="img">
      <img src="assets/img/LOGIN-DEF.png" alt="">
    </div>
    <div class="info">
      <p>{{p.titulo}}</p>
      <p>{{p.carrera}}</p>
      <p>{{p.descripcion}}</p>
    </div>

  </ion-card>

  
  





</ion-content>