<ion-header>
  <ion-toolbar>
    <ion-title>Detalle Publicacion</ion-title>
    <img slot="end" routerLink="/mispublic" src="assets/img/volver4.png" alt="" width="10%" height="10%" class="ion-margin" (click)="volver()">
  </ion-toolbar>
</ion-header>

<ion-content class="contenido">

  
  <ion-card class="card"  >
    <div class="info" *ngFor="let p of pub ">
      <p><b>Titulo: {{p.TITULO_PUBLIC}}</b></p>
      <p><b>Descripcion: {{p.DESC_PUBLIC}}</b></p>
      <p><b>Contendo: {{p.CONT_PUBLIC}}</b></p>
      <p><b>Asignatura: {{p.NOMBRE_ASIGNATURA}}</b></p>
      <div class="borrar">
        <img src="assets/img/borrar.png" (click)="delete(p.ID_PUBLIC)" alt="">
      </div>
      <ion-button (click)="pdfDownload(p.TITULO_PUBLIC,p.DESC_PUBLIC,p.CONT_PUBLIC,p.NOMBRE_ASIGNATURA)" color="danger" >Exportar PDF</ion-button>
      <ion-button (click)="quiz()" color="warning"> Agregar Quiz</ion-button>
    </div>
    <div class="comentarios">
      <h1><b>Comentarios</b></h1>
      <div class="comentarios" *ngFor="let c of com">
        <p>{{c.CONT_COMENTARIO}}</p>
      </div>
    </div>

  </ion-card>

  

</ion-content>
