<ion-header>
  <ion-toolbar>
    <ion-title >Publicar</ion-title>
    <img slot="end" routerLink="/home" src="assets/img/Home.png" alt="" width="20%" height="20%" class="ion-margin">
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card">

      <ion-item class="input">
        <ion-label position="floating" >Titulo</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item class="input">
        <ion-label position="floating" >Carrera</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item class="input">
        <ion-label position="floating" >Asignatura</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item class="input">
        <ion-label position="floating" >Descripcion</ion-label>
        <ion-textarea placeholder="Ingrese la descripcion aquí..." auto-grow></ion-textarea>  
      </ion-item>

      <ion-item class="input">
        <ion-label position="floating" >Contenido</ion-label>
        <ion-textarea placeholder="Ingrese la descripcion aquí..." auto-grow></ion-textarea>  
      </ion-item>

      <div class="boton-publicar">
        <img src="/assets/img/publicar.png" routerLink="/home" alt="">
        <p><b>Publicar</b></p>
      </div>



  </ion-card>
 

</ion-content>
