<ion-header>
  <ion-toolbar>
    <ion-title>infopersonal</ion-title>
    <img slot="end" routerLink="/perfil" src="assets/img/volver4.png" alt="" width="10%" height="10%" class="ion-margin">
  </ion-toolbar>
</ion-header>
<ion-content class="contenido">
  <div class="actualizar">
    <img  src="assets/img/actualizar.png" (click)="actualizardatos()" alt="" />
  </div>
  
  <ion-card class="card" >
    <div class="info" *ngFor="let in of info ">
      <p style="text-transform:uppercase;" >{{in.RUT_USUARIO}}</p>
      <p style="text-transform:uppercase;" >{{in.PNOMBRE_USUARIO}} {{in.PAPELLIDO_USUARIO}} {{in.SAPELLIDO_USUARIO}}</p>
      <p style="text-transform:uppercase;" >{{in.EMAIL}}</p>
      <p style="text-transform:uppercase;" >{{in.NOMBRE_CARRERA}}</p>
      <p style="text-transform:uppercase;" >{{in.NOMBRE_SEDE}}</p>
      <p style="text-transform:uppercase;" >{{in.TELEFONO_USUARIO}}</p>
      <p style="text-transform:uppercase;" >{{in.DIRECCION_USUARIO}}</p>
      <p style="text-transform:uppercase;" >{{in.NOMBRE_GENERO}}</p>
      <p style="text-transform:uppercase;" >{{in.NOMBRE_COMUNA}}</p>
    </div>
  
  </ion-card>
  
  <ion-button size="small" color="success" (click)="agregar()">Agregar Info</ion-button>
  <ion-button size="small" color="warning" (click)="actualizarinfo()" >Actualizar Datos</ion-button>
  
  
  

</ion-content>
