<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" slot="end">
      <img src="assets/img/logout.png" alt="" width="40%" height="40%" class="ion-margin" (click)="cerrarSesion()">
    </ion-title>
    <ion-title class="ion-text-center" slot="start">
      Administrador
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="contenido">

  <ion-card class="card">
    <div class="opciones">

      <div class="sistema">
        <img src="assets/img/systema.jpg" alt="" routerLink="/administrarsystema">
        <p class="blanco"><b>Administrar Sistema</b></p>
      </div>
      <div class="usuarios">
        <img src="assets/img/usuarios.png" alt="" routerLink="/administrarusuarios">
        <p class="blanco"><b>Administrar Usuarios</b></p>
      </div>

    </div>
  </ion-card>

</ion-content>
