.contenido{
    text-align: center;
}

.perfiles{
    height: auto;
    margin-top: 10%;
    border-radius: 15px;
    background-color: #002037   ;
}

.card{
    background-color: #124763;
    margin: 10%;
    text-align: center;
    
}

.sistema{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 10%;

}

.sistema img{
    border-radius: 50%;
}

.usuarios{
    width: 30%;
    margin-left: auto;
    margin-right: auto;

}

.usuarios img{

}
