<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" slot="end">
      <img src="assets/img/logout.png" alt="" width="40%" height="40%" class="ion-margin" routerLink="/login">
    </ion-title>
    <ion-title class="ion-text-center" slot="start">
      Administrador
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="contenido">

  <ion-card class="perfiles">

    <ion-card-title class="titulo" > <b>Usuarios</b></ion-card-title>

    <ion-card class="card" >
      <div class="img">
        <img src="assets/img/user-perfil.png"  routerLink="/perfil-usuario" alt="">
      </div>
      <div class="info">
        <p> <b> Nombre</b></p>
        <p> <b> Email </b></p>
        <p> <b> Carrera </b></p>
      </div>
    </ion-card>
    <ion-card class="card" >
      <div class="img">
        <img src="assets/img/user-perfil.png"  routerLink="/perfil-usuario" alt="">
      </div>
      <div class="info">
        <p> <b> Nombre</b></p>
        <p> <b> Email </b></p>
        <p> <b> Carrera </b></p>
      </div>
    </ion-card>
    <ion-card class="card" >
      <div class="img">
        <img src="assets/img/user-perfil.png"  routerLink="/perfil-usuario" alt="">
      </div>
      <div class="info">
        <p> <b> Nombre</b></p>
        <p> <b> Email </b></p>
        <p> <b> Carrera </b></p>
      </div>
    </ion-card>
    <ion-card class="card" >
      <div class="img">
        <img src="assets/img/user-perfil.png"  routerLink="/perfil-usuario" alt="">
      </div>
      <div class="info">
        <p> <b> Nombre</b></p>
        <p> <b> Email </b></p>
        <p> <b> Carrera </b></p>
      </div>
    </ion-card>

  </ion-card>

</ion-content>
