<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center" slot="end">
      <img src="assets/img/logout.png" alt="" width="40%" height="40%" class="ion-margin" routerLink="/login">
    </ion-title>
    <ion-title class="ion-text-center" slot="start">
      E.S.D.A
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <h1 class="titulo">
    ¿Que hacemos hoy?
  </h1>

  <div class="botones">
    <div class="boton">
      <img routerLink="/perfil" class="img" src="assets/img/perfil.png" alt="">
      <h4>Mi perfil</h4>
    </div>
    <div class="boton">
      <img routerLink="/comunidad" class="img" src="assets/img/comunidad.png" alt="">
      <h4>Comunidad</h4>
    </div>
    <div class="boton">
      <img routerLink="/publicar" class="img" src="assets/img/publicar_1.png" alt="">
      <h4>Publicar</h4>
    </div>
  </div>
  


</ion-content>